# Python
.venv/
__pycache__/
*.pyc
uv.lock

# Data & Large Files
data/
*.parquet
*.duckdb
.tmp/

# Jupyter
*.ipynb
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/

# Environment
.env

# VS Code
.vscode/
*.code-workspace

# OS
.DS_Store
