# Python
.venv/
__pycache__/
*.pyc
uv.lock
*.pyo
*.egg-info/

# Data & Large Files
data/
*.parquet
*.duckdb
.tmp/

# Jupyter
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/

# Environment
.env

# VS Code
.vscode/
*.code-workspace

# OS
.DS_Store

# dbt
dbt_payments/target/
dbt_payments/logs/
dbt_payments/dbt_packages/